<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equev="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/content.css">
	<title>Casino</title>
</head>
<body>
	<div class="container">
		<div class="nav">
			<div class="nav-in">
				<div class="nav-inner title" id = "title">
					<img src="https://cdn.discordapp.com/avatars/883201346759704606/1e3b289bb6fb75156ad6845cbf490a84.webp?size=80" alt="Casino#4819" id=avatar>Casino
				</div>
                <div class="nav-inner">
					<a href="main.html" class="nav-link">Главная</a>
				</div>
				<div class="nav-inner">
					<a href="terms_of_use.html" class="nav-link">Условия использования</a>
				</div>
				<div class="nav-inner">
					<a href="privacy_policy.html" class="nav-link">Политика конфиденциальности</a>
				</div>
                <div class="nav-inner">
					<a href="last_news.html" class="nav-link">Последние новости</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/api/oauth2/authorize?client_id=883201346759704606&permissions=268487744&scope=bot" class="nav-link">Пригласить</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/invite/ZtY6JZ5Dxc" class="nav-link">Сервер поддержки</a>
				</div>
			</div>
		</div>
        <div class="content">
            <p class="title">Обзор</p>
            <div class="group">
                <p class="text">Casino - это бот, способный вывести азартные игры вашего сервера на новый уровень!
                    Бот включает в себя экономику, систему уровней, карточки пользователей, и многое другое!</p>
            </div>
            <p class="title">Команды</p>
            <table>
                <thead>
                <tr>
                    <th>Команда</th>
                    <th>Описание</th>
                    <th>Использование</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>rulet</td>
                        <td>Игра в рулетку</td>
                        <td><code>=rulet</code></td>
                    </tr>
                        <tr>
                        <td>blackjack</td>
                        <td>Игра в блэкджек</td>
                        <td><code>=blackjack [ставка] =&gt; bs для старта игры | bj @создатель игры для присоединения</code></td>
                    </tr>
                        <tr>
                        <td>slots</td>
                        <td>Игра в слоты</td>
                        <td><code>=slots [ставка]</code></td>
                        </tr>
                    <tr>
                        <td>dice</td>
                        <td>Игра в кости</td>
                        <td><code>=dice [ставка] (@оппонент)</code></td>
                    </tr>
                    <tr>
                        <td>rps</td>
                        <td>Игра в Камень, Ножницы, Бумага</td>
                        <td><code>=rps [ставка] (@оппонент)</code></td>
                    </tr>
                    <tr>
                        <td>stats</td>
                        <td>Статистика пользователя в гильдии</td>
                        <td><code>=stats (@пользователь)</code></td>
                    </tr>
                    <tr>
                        <td>status</td>
                        <td>Карточка пользователя в гильдии</td>
                        <td><code>=status (@пользователь)</code></td>
                    </tr>
                    <tr>
                        <td>theme</td>
                        <td>Изменить тему карточки пользователя</td>
                        <td><code>=theme</code></td>
                    </tr>
                    <tr>
                        <td>custom</td>
                        <td>Изменить описание карточки пользователя</td>
                        <td><code>=custom [описание]</code></td>
                    </tr>
                    <tr>
                        <td>scoreboard</td>
                        <td>Топ участников гильдии по опыту</td>
                        <td><code>=scoreboard</code></td>
                    </tr>
                    <tr>
                        <td>pay</td>
                        <td>Перевести деньги со своего счёта на счёт пользователя</td>
                        <td><code>=pay [@пользователь] [сумма]</code></td>
                    </tr>
                    <tr>
                        <td>inventory</td>
                        <td>Купленные предметы</td>
                        <td><code>=inventory</code></td>
                    </tr>
                    <tr>
                        <td>offer</td>
                        <td>Предложить идею</td>
                        <td><code>=offer [идея]</code></td>
                    </tr>
                    <tr>
                        <td>shop</td>
                        <td>Магазин гильдии</td>
                        <td><code>=shop</code></td>
                    </tr>
                    <tr>
                        <td>market</td>
                        <td>Внутригильдевый рынок</td>
                        <td><code>=market</code></td>
                    </tr>
                    <tr>
                        <td>fish</td>
                        <td>Попробуйте себя в рыболовстве, вдруг клюнет</td>
                        <td><code>=fish</code></td>
                    </tr>
                    <tr>
                        <td>fshop</td>
                        <td>Рыболовный магазин</td>
                        <td><code>=fshop</code></td>
                    </tr>
                    <tr>
                        <td>cage</td>
                        <td>Садок</td>
                        <td><code>=cage</code></td>
                    </tr>
                    <tr>
                        <td>market</td>
                        <td>Внутригильдевый рынок</td>
                        <td><code>=market</code></td>
                    </tr>
                    <tr>
                        <td>rods</td>
                        <td>Коллекция ваших удочек</td>
                        <td><code>=rods</code></td>
                    </tr>
                    <tr>
                        <td>workshop</td>
                        <td>Соберите свою удочку!</td>
                        <td><code>=workshop</code></td>
                    </tr>
                    <tr>
                        <td>guide</td>
                        <td>Справка по рыбалке</td>
                        <td><code>=guide</code></td>
                    </tr>
                    <tr>
                        <td>reset</td>
                        <td>Обнулить данные членов гильдии</td>
                        <td><code>=reset [exp | money | messages | games | user | shop]</code></td>
                    </tr>
                    <tr>
                        <td>add_item</td>
                        <td>Добавить предмет в магазин гильдии</td>
                        <td><code>=add_item</code></td>
                    </tr>
                    <tr>
                        <td>remove_item</td>
                        <td>Удалить предмет из магазина гильдии</td>
                        <td><code>=remove_item [название предмета]</code></td>
                    </tr>
                    <tr>
                        <td>give</td>
                        <td>Пополнить баланс пользователя</td>
                        <td><code>=give [@пользователь] [сумма]</code></td>
                    </tr>
                    <tr>
                        <td>help</td>
                        <td>Справка</td>
                        <td><code>=help</code></td>
                    </tr>
                    <tr>
                        <td>help</td>
                        <td>Справка по команде или модулю</td>
                        <td><code>=help [команда или модуль] </code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="nav footer">
		<div class="nav-in">
			<div class="nav-inner title">
				Создатель:<img src="https://cdn.discordapp.com/avatars/397352286487052288/503e1f8c57ea6cdb3fefb8ed6d695059.webp?size=1024" alt="Papr1ka#8145" id=avatar> Papr1ka#8145
			</div>
		</div>
	</footer>
</body>
</html>