<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equev="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/content.css">
	<title>Casino</title>
</head>
<body>
	<div class="container">
		<div class="nav">
			<div class="nav-in">
				<div class="nav-inner title" id = "title">
					<img src="https://cdn.discordapp.com/avatars/883201346759704606/1e3b289bb6fb75156ad6845cbf490a84.webp?size=80" alt="Casino#4819" id=avatar>Casino
				</div>
                <div class="nav-inner">
					<a href="../index.html" class="nav-link">Главная</a>
				</div>
				<div class="nav-inner">
					<a href="terms_of_use.html" class="nav-link">Условия использования</a>
				</div>
				<div class="nav-inner">
					<a href="privacy_policy.html" class="nav-link">Политика конфиденциальности</a>
				</div>
                <div class="nav-inner">
					<a href="last_news.html" class="nav-link">Последние новости</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/api/oauth2/authorize?client_id=883201346759704606&permissions=268487744&scope=bot" class="nav-link">Пригласить</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/invite/ZtY6JZ5Dxc" class="nav-link">Сервер поддержки</a>
				</div>
			</div>
		</div>
        <div class="content">
            <p class="title">Политика конфиденциальности</p>
            <div class="group">
                <p class="text">
                    Мы автоматически собираем данные, указанные в политике использования, только для предоставления заявленных услуг.
                    Данные о вас на сервере автоматически удаляются при вашем уходе с сервера, удаления бота с сервера, или удалении сервера
                </p>
                <p class="text">
                    Мы не публикуем данные, указанные в политике использования, доступ к ним есть только у нас
                </p>
                <p class="text">
                    Вы можете запросить удаление всех данных о вас, или вашем сервере, обратившись на наш сервер поддержки
                </p>
            </div>
        </div>
    </div>
	<footer class="nav footer">
		<div class="nav-in">
			<div class="nav-inner title">
				Создатель:<img src="https://cdn.discordapp.com/avatars/397352286487052288/503e1f8c57ea6cdb3fefb8ed6d695059.webp?size=1024" alt="Papr1ka#8145" id=avatar> Papr1ka#8145
			</div>
		</div>
	</footer>
</body>
</html>