<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equev="X-UA-Compatible" content="ie=edge">
    <link type="image/x-icon" href="https://cdn.discordapp.com/avatars/883201346759704606/1e3b289bb6fb75156ad6845cbf490a84.webp?size=80" rel="shortcut icon">
	<link type="Image/x-icon" href="https://cdn.discordapp.com/avatars/883201346759704606/1e3b289bb6fb75156ad6845cbf490a84.webp?size=80" rel="icon">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/content.css">
	<title>Casino</title>
</head>
<body>
	<div class="container">
		<div class="nav">
			<div class="nav-in">
				<div class="nav-inner title" id = "title">
					<img src="https://cdn.discordapp.com/avatars/883201346759704606/1e3b289bb6fb75156ad6845cbf490a84.webp?size=80" alt="Casino#4819" id=avatar>Casino
				</div>
                <div class="nav-inner">
					<a href="../index.html" class="nav-link">Главная</a>
				</div>
				<div class="nav-inner">
					<a href="terms_of_use.html" class="nav-link">Условия использования</a>
				</div>
				<div class="nav-inner">
					<a href="privacy_policy.html" class="nav-link">Политика конфиденциальности</a>
				</div>
                <div class="nav-inner">
					<a href="last_news.html" class="nav-link">Последние новости</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/api/oauth2/authorize?client_id=883201346759704606&permissions=268487744&scope=bot" class="nav-link">Пригласить</a>
				</div>
                <div class="nav-inner">
					<a href="https://discord.com/invite/ZtY6JZ5Dxc" class="nav-link">Сервер поддержки</a>
				</div>
                <div class="nav-inner">
					<a href="https://top.gg/bot/883201346759704606/vote" class="nav-link">Голосовать</a>
				</div>
			</div>
		</div>
        <div class="content">
            <p class="title">Уловия использования</p>
            <div class="group">
                <table>
                    <thead>
                    <tr>
                    <th>Данные, которые мы храним о вас</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Идентификатор вашего сервера (id)</td>
                    </tr>
                    <tr>
                    <td>Ваш Идентификатор (id)</td>
                    </tr>
                    <tr>
                    <td>Товары вашего сервера</td>
                    </tr>
                    <tr>
                    <td>Товары рынка вашего сервера</td>
                    </tr>
                    <tr>
                    <td>Количество отправленых вами сообщений на сервере</td>
                    </tr>
                    <tr>
                    <td>Количество сыгранных вами игр, из предложенных ботом</td>
                    </tr>
                    <tr>
                    <td>Время вашего последнего голосования за бота</td>
                    </tr>
                    <tr>
                    <td>Вашу тему для status</td>
                    </tr>
                    <tr>
                    <td>Данные, такие как игровой счёт, уровень, количество опыта</td>
                    </tr>
                    <tr>
                    <td>Ваше описание для status, также отображаемое в scoreboard</td>
                    </tr>
                    <tr>
                    <td>Предметы в вашем инвентаре</td>
                    </tr>
                    <tr>
                    <td>Рыбу в садке, компоненты, купленные водоёмы и удочки</td>
                    </tr>
                </table>
            </div>
        </div>
        <footer class="nav footer">
            <div class="nav-in">
                <div class="nav-inner title">
                    Создатель:<img src="https://cdn.discordapp.com/avatars/397352286487052288/503e1f8c57ea6cdb3fefb8ed6d695059.webp?size=1024" alt="Papr1ka#8145" id=avatar> Papr1ka#8145
                </div>
            </div>
        </footer>
    </div>
</body>
</html>